---
BasedOnStyle: Google
AlignAfterOpenBracket: 'AlwaysBreak'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AlignConsecutiveMacros: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'None'
AllowShortIfStatementsOnASingleLine: 'Never'
AllowShortLoopsOnASingleLine: 'false'
BreakBeforeBraces: Allman
BinPackArguments: 'false'
BinPackParameters: 'false'
Cpp11BracedListStyle: 'false'
ColumnLimit: 125 
IndentWidth: 2
IndentPPDirectives: AfterHash
NamespaceIndentation: All
PackConstructorInitializers: 'Never'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyBlock: true
Standard: 'Latest'
IncludeBlocks: Regroup
IncludeCategories:
  # MICM project headers
  - Regex:           '<(micm)\/'
    Priority:        2
  # CUDA, cuBLAS, LLVM, OpenMP headers
  - Regex:           '<(cuda|cublas|llvm|omp)[[:alnum:].\Q/-_\E]+>'
    Priority:        3
  # External libraries headers
  - Regex:           '<([[:alnum:].\Q/-_\E]+)\/'
    Priority:        3
  # System headers
  - Regex:           '<[[:alnum:].\Q/-_\E]+>'
    Priority:        4
  # Main, local, private headers
  - Regex:           '".*'
    Priority:        1
