name: Ubuntu

on: 
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  gcc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_type: [Release]
    env:
      CC: gcc
      CXX: g++
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Cmake 
        run: cmake -S . -B build -D CMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build
        run: cmake --build build --parallel 10

      - name: Run tests
        run: |
          cd build
          ctest -C ${{ matrix.build_type }} --rerun-failed --output-on-failure . --verbose -j 10

  clang:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_type: [Release]
    env:
      CC: clang
      CXX: clang++
      # Forces Clang to use the system's standard library path
      CXXFLAGS: "-stdlib=libstdc++"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install C++ Standard Library
        # Ubuntu 24.04/26.04 requires explicit dev headers for Clang compatibility
        run: |
          sudo apt-get update
          sudo apt-get install -y libstdc++-13-dev

      - name: Run Cmake 
        run: cmake -S . -B build -D CMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build
        run: cmake --build build --verbose

      - name: Run tests
        run: |
          cd build
          ctest -C ${{ matrix.build_type }} --rerun-failed --output-on-failure . --verbose -j 10